# Ignore virtual environment directories
venv/
env/
.myenv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore node modules
node_modules/
